params {

    /*
     * Inputs
     */

    metadata = "tests/metadata/metadata.tsv"

    reads = "tests/fastqs"

    /*
     * Reference database
     */

    silva = "resources/silva_nr99_v138.1_train_set.fa.gz"

    /*
     * Output directory
     */

    outdir = "results"

    /*
     * fastp
     */

    fastp {

        cpus = 4

        threads = 4

    }

    /*
     * DADA2
     */

    dada2 {

        cpus = 4

        memory = "12 GB"

    }

}
